html {
    position: relative;
    min-height: 100%;
    margin: 0;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
body {min-height: 100%; }
img {height:100%; width:100%; border-radius: 5px;}
/*   <!-- ===============================최 상단 bar  ======================= -->       */
.navbar_Wrapper {
    background-color: orange;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom:1px solid green;
    font-size: 1.5rem;
}
.navbar_sizeWraper_1200px {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 100%;
}
.banner_cursor_wrapper div i {font-size: 30px;}
.navbar_sizeWraper_1200px div {
    display: flex;
    justify-content: center;
}
.user_info_display_sectionWrapper {margin-left: 50px;}
.user_info_display_sectionWrapper div {
    display: flex;
    align-items: center;
}
.MainLogo_Wrapper {
    display: flex;
    align-items: center;
}
.MainLogo_Wrapper>div i {font-size: 2rem;}
.menu_bar {margin-right: 50px;}
.menu_bar>table tr td a {color: white}
.user_inter_font {font-size: 0.7rem;}
.menu_bar table tr td {padding-left: 10px; margin-left: 50px}
/*   <!-- ============= 인기 게시물 썸내일 사진 display  ====================== --> */
 .banner_Wrapper {
    height:400px;
    width:1200px;
     margin:auto;
     margin-top: 15px;
     margin-bottom: 15px;
     
     display: flex;
     justify-content: space-between;
 }
 .banner_Wrapper > div {
     height:100%;
     width:47%; 
 }
 .carousel-inner {
     height:100%;
     width:100%;   
 }
 .carousel-item {
    height:100%;
    width:100%;
 }
 .carousel-item > img {
    height:100%;
    width:100%;
    border-radius: 5px;
 }
/*   <!-- ============= 인기 게시물 썸내일 사진 display  ====================== --> */

/* <!-- =============================== 중고게시판 공동구매 게시판 버튼  ======================= --> */

.board_button_wrapper {
    display: flex;
    width:700px;
    height:80px;
    margin: auto;
    justify-content: space-around;  
}
.board_button_wrapper > button {
    width:200px;
    font-size: 2rem;
    font-weight: bold;
}
/* <!-- =============================== 중고게시판 공동구매 게시판 버튼  ======================= --> */
#top8_board_wrapper {
    width:1200px;
    height:750px;
    border-radius: 20px;
    margin:auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border:2px solid grey; 
}
#top8_board_wrapper > .product_display_wrapper{
    width:23%;
    height:50%;
    border:1px solid grey;
    float: left;
}
.product_display_wrapper > div {margin-bottom: 5px;}
#top8_board_wrapper > .product_display_wrapper > .img_wraper{
    width:100%;
    height:60%;
}

/* <!-- =============================== 인기 게시글 섹션  ======================= --> */

