#content1 .navWrap {
    width: 100%;
    height: 100%;
    margin: auto;
    font-family: 'Nanum Gothic', sans-serif;
}

.navMenu {
    width: 100%;
    margin: auto;
    border: 1px solid lightgray;
}

#menuTitle {
    background: orange;
    height: 10%;
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    padding-top: 9%;
}

.navMenu th {
    height: 40px;
    background: lightgray;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.navMenu td {
    height: 35px;
    border: 1px solid lightgray;
    font-size: 15px;
    text-align: center;
}

.navMenu a {
    text-decoration: none;
    color: black;
    display: block;
}