<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="insertPurchaseInfo">
		insert
			  into
			       purchase_info
			  (
			    PURCHASE_NO
			  , post_no
			  , mem_no
			  , shipping_no
			  , option_no
			  , depositor
			  , purchase_price
			  , purchase_date
			  , courier
			  , tracking_no
			  , requests
			  )
			  values
			  (
			    seq_pinfono.nextval
			  , ?
			  , ?
			  , ?
			  , ?
			  , ?
			  , ?
			  , sysdate
			  , ?
			  , ?
			  , ?
			  )
	</entry>
</properties>