<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectListCount">
		select 
               count(*) listCount
          from member
         where leave_check = 'N'
           and manager_check = 'N'
	</entry>
	<entry key="postSelectAll">
		select
		       *
		  from
		     (
		       select
		              rownum rnum
		            , a.*
		         from
		            (
		                select
		                       post_no
		                     , c.category_name category_name
		                     , post_name
		                     , mem_userid
		                     , post_enroll_date
		                     , post_views
		                     , blind_check
		                     , used_post_check
                             , null gp_post_check
		                  from 
		                       post
		                  join member using(mem_no)
		                  join category c using(category_no)
		                  join usedprod using(post_no)
		                  union all
		                  select
		                       post_no
		                     , c.category_name category_name
		                     , post_name
		                     , mem_userid
		                     , post_enroll_date
		                     , post_views
		                     , blind_check
		                     , null used_post_check
                     		 , gp_post_check
		                  from 
		                       post
		                  join member using(mem_no)
		                  join category c using(category_no)
		                  join group_purchase using(post_no)
		                  order by post_no
		            ) a
		     )
		where rnum between ? and ?
	</entry>
	<entry key="blindListEnroll">
		update 
		       post
		   set blind_check = ?
		 where post_no = ?
	</entry>
	<entry key="blindListSelectAll">
		select
		       *
		  from
		     (
		       select
		              rownum rnum
		            , a.*
		         from
		            (
		                select
		                       post_no
		                     , used_post_check
		                     , null gp_post_check
		                     , c.category_name category_name
		                     , post_name
		                     , post_views
		                     , mem_userid
		                     , post_enroll_date
		                     , (
		                        select
		                               count(*)
		                          from report r 
		                         where post_no = report_post_no
		                       ) report_count
		                  from 
		                       post p
		                  join member m using(mem_no)
		                  join category c using(category_no)
		                  join usedprod using(post_no)
		                  where blind_check = 'Y'
		                  union all
		                  select
		                       post_no
		                     , null used_post_check
		                     , gp_post_check
		                     , c.category_name category_name
		                     , post_name
		                     , post_views
		                     , mem_userid
		                     , post_enroll_date
		                     , (
		                        select
		                               count(*)
		                          from report r
		                         where post_no = report_post_no
		                       ) report_count
		                  from
		                       post p
		                  join member m using(mem_no)
		                  join category c using(category_no)
		                  join group_purchase using(post_no)
		                  where blind_check = 'Y'
		                  order by post_no
		            ) a
		     )
		where rnum between ? and ?
	</entry>
		<entry key="postSearchList">
		select
		       *
		  from
		     (
		       select
		              rownum rnum
		            , a.*
		         from
		            (
		                select
		                       post_no
		                     , c.category_name category_name
		                     , post_name
		                     , mem_userid
		                     , post_enroll_date
		                     , post_views
		                     , blind_check
		                     , used_post_check
                             , null gp_post_check
		                  from 
		                       post
		                  join member using(mem_no)
		                  join category c using(category_no)
		                  join usedprod using(post_no)
		                  where post_name like '%'|| nvl(?, '') ||'%'
		                    and category_name like '%'|| nvl(?, '') ||'%'
		                    and mem_userid like '%'|| nvl(?, '') ||'%'
		                  select
		                       post_no
		                     , c.category_name category_name
		                     , post_name
		                     , mem_userid
		                     , post_enroll_date
		                     , post_views
		                     , blind_check
		                     , null used_post_check
                     		 , gp_post_check
		                  from 
		                       post
		                  join member using(mem_no)
		                  join category c using(category_no)
		                  join group_purchase using(post_no)
		                 where post_name like '%'|| nvl(?, '') ||'%'
		                    and category_name like '%'|| nvl(?, '') ||'%'
		                    and mem_userid like '%'|| nvl(?, '') ||'%'
		                 order 
		                    by post_no
		            ) a
		     )
		where rnum between ? and ?
	</entry>
	<entry key="blindSearchList">
		select
		       *
		  from
		     (
		       select
		              rownum rnum
		            , a.*
		         from
		            (
		                select
		                       post_no
		                     , used_post_check
		                     , null gp_post_check
		                     , c.category_name category_name
		                     , post_name
		                     , mem_userid
		                     , post_enroll_date
		                     , post_views
		                     , (
		                        select
		                               count(*)
		                          from report r 
		                         where post_no = report_post_no
		                       ) report_count
		                  from 
		                       post p
		                  join member m using(mem_no)
		                  join category c using(category_no)
		                  join usedprod using(post_no)
		                  where blind_check = 'Y'
		                    and post_name like '%'|| nvl(?, '') ||'%'
		                    and category_name like '%'|| nvl(?, '') ||'%'
		                    and mem_userid like '%'|| nvl(?, '') ||'%'
		                  union all
		                  select
		                       post_no
		                     , null used_post_check
		                     , gp_post_check
		                     , c.category_name category_name
		                     , post_name
		                     , mem_userid
		                     , post_enroll_date
		                     , post_views
		                     , (
		                        select
		                               count(*)
		                          from report r
		                         where post_no = report_post_no
		                       ) report_count
		                  from
		                       post p
		                  join member m using(mem_no)
		                  join category c using(category_no)
		                  join group_purchase using(post_no)
		                  where blind_check = 'Y'
		                    and post_name like '%'|| nvl(?, '') ||'%'
		                    and category_name like '%'|| nvl(?, '') ||'%'
		                    and mem_userid like '%'|| nvl(?, '') ||'%'
		                  order by post_no
		            ) a
		     )
		where rnum between ? and ?
	</entry>
</properties>