<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="postSelectAll">
		select
		       *
		  from
		     (
		       select
		              rownum rnum
		            , a.*
		         from
		            (
					select
					       p.post_no post_no
					     , c.category_name category_name
					     , p.post_type post_type
					     , post_name
					     , mem_userid
					     , post_enroll_date
					     , post_views
					     , blind_check
					  from 
					       post p
					  join 
					       member m on m.mem_no = p.mem_no
					  join 
					       category c on c.category_no = p.category_no
					 where post_type != 3
					 order
					    by p.post_no
		            ) a
		     )
		where rnum between ? and ?
	</entry>
	<entry key="blindListEnroll">
		update 
		       post
		   set blind_check = ?
		 where post_no = ?
	</entry>
	<entry key="blindListSelectAll">
		select
		       *
		  from
		     (
		       select
		              rownum rnum
		            , a.*
		         from
		            (
					select
					       p.post_no post_no
					     , c.category_name category_name
					     , p.post_type
					     , post_name
					     , mem_userid
					     , post_enroll_date
					     , post_views
					     , (
					        select
					               count(*)
					          from 
					               report r
					         where p.post_no = report_post_no
					        ) report_count
					  from 
					       post p
					  join 
					       member m on m.mem_no = p.mem_no
					  join 
					       category c on c.category_no = p.category_no
					 where blind_check = 'Y'
					   and post_type != 3
					 order
					    by p.post_no
		            ) a
		     )
		where rnum between ? and ?
	</entry>
		<entry key="postSearchList">
		select
		       *
		  from
		     (
		       select
		              rownum rnum
		            , a.*
		         from
		            (
					select
					       p.post_no post_no
					     , c.category_name category_name
					     , p.post_type
					     , post_name
					     , mem_userid
					     , post_enroll_date
					     , post_views
					     , blind_check
					  from 
					       post p
					  join 
					       member m on m.mem_no = p.mem_no
					  join 
					       category c on c.category_no = p.category_no
					 where post_name like '%'|| nvl(?, '') ||'%'
					   and c.category_name like '%'|| nvl(?, '') ||'%'
					   and mem_userid like '%'|| nvl(?, '') ||'%'
					   and post_type != 3
					 order
					    by p.post_no
		            ) a
		     )
		where rnum between ? and ?
	</entry>
	<entry key="blindSearchList">
		select
		       *
		  from
		     (
		       select
		              rownum rnum
		            , a.*
		         from
		            (
					select
					       p.post_no post_no
					     , c.category_name category_name
					     , p.post_type
					     , post_name
					     , mem_userid
					     , post_enroll_date
					     , post_views
					     , (
					        select
					               count(*)
					          from 
					               report r
					         where p.post_no = report_post_no
					        ) report_count
					  from 
					       post p
					  join 
					       member m on m.mem_no = p.mem_no
					  join 
					       category c on c.category_no = p.category_no
					 where blind_check = 'Y'
					   and post_name like '%'|| nvl(?, '') ||'%'
					   and c.category_name like '%'|| nvl(?, '') ||'%'
					   and mem_userid like '%'|| nvl(?, '') ||'%'
					   and post_type != 3
					 order
					    by p.post_no
		            ) a
		     )
		where rnum between ? and ?
	</entry>
</properties>