@charset "UTF-8";
/* 마이페이지(메인) css입니다 */
/* content영역 전체 */
	.outer{ 
            /* margin-top:0px; */
           margin:auto; 
           margin-top:50px;
           margin-left:50px;
           width:1000px;
           font-family: 'Nanum Gothic', sans-serif; 
    }
/* content_bottom영역에 대한 전반적인 구조 */
    #content_bottom>div{float:left;height:100%;}
    #content_bottom1{
        width:45%;
    }
    #content_bottom2{
        width:45%;
    }
    #content_bottom2_1{
        float:right;
        line-height:10px;
    }
/* content_top 영역에 대한 세부 스타일 */
    #content_top{
        border:3px solid black;
        padding:10px;
        width: 800px;
        height:240px;
        margin-left:100px;
    }
    #content_top1{
        width:25%;
        height:100%;
        float:left;
        margin-left:20px;
    }
    #content_top1 label {
        float:left;
        background:lightgray;
        padding: 5px 15px;
        border-radius:5px;
        cursor:pointer;
    }
    #content_top2{
        width:50%;
        height:100%;
        float:left;
        padding:10px;
        margin-left:20px;
    }
    #content_top3{
        height:100%;
        float:left;
        line-height:20px;
        margin-top:50px;
    }
    #content_top2>span{
        float:left; 
        padding:10px;
        font-size:30px;
        margin-top:40px;
       
    }
    #content_top2 a{color:orange;}

    /* content_bottom영역에 대한 세부스타일 */
    #content_bottom1{
    margin-left:50px;
    border: 3px solid gray;
    padding:50px;
    }
    #content_bottom1>table{
    font-size:20px;
    margin:auto;
    }
    td{
    width:400px;
    height:45px;
    }
    #content_bottom2{
    padding:30px;
    font-size:20px;
    margin:auto;
    }
    #content_bottom2_2{
    margin:20px;
    }
    #content_bottom2_3{
        float:right;
    }
    #updateButton button{
        background:lightblue;
        padding: 5px 15px;
        border-radius:5px;
        cursor:pointer;
    }

    .paging-area {
        width:30px;
        height:30px;
        background-color:red;
    }
    
    
    
