

.CS_content{
            width:1200px;
            margin:auto;
            height:1200px;
       		margin-top:50px;
        
    }
}


.CS_content>div{
    width:100%;
    margin:auto;
    padding:100px;

    
}
.CS_content_1{
    height: 25%;
}
.CS_content_2{
    height: 10%;
}
.CS_content_3{
    height: 35%;
}
.CS_content_4{
    height: 25%;
}
.CS_content_5{
    height: 10%;
}

.list-area{
    text-align:center;
    background: #e9ecef;
    ;
}
.list-area td:hover{
    background:darkgray;
    cursor:pointer;
}

.list-group li{
    background: #e9ecef;
}
.list-group li:hover{
    background:darkgray;
    cursor:pointer
}