<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectListCount">
		select 
               count(*) listCount
          from member
         where leave_check = 'N'
           and manager_check = 'N'
	</entry>
	<entry key="userSelectAll">
		select
		       *
		  from
		     (
		       select
		              rownum rnum
		            , a.*
		         from
		            (
		             select
		                    mem_no
		                  , mem_userid
		                  , mem_name
		                  , mem_phone
		                  , mem_email
		                  , mem_birthday
		                  , mem_enroll_date
		                  , b_list_check
		               from 
		                    member
		              where leave_check = 'N'
		                and manager_check = 'N'
		            ) a
		     )
		where rnum between ? and ?
	</entry>
	<entry key="blackListEnroll">
		update 
		       member
		   set b_list_check = ?
		 where mem_no = ?
	</entry>
	<entry key="blackListSelectAll">
		select
		       *
		  from
		     (
		       select
		              rownum rnum
		            , a.*
		         from
		            (
		                select
		                       mem_no
		                     , mem_userid
		                     , mem_name
		                     , mem_phone
		                     , mem_email
		                     , (
		                        select
		                               count(*)
		                          from report r 
		                         where r.mem_no = m.mem_no
		                       ) report_count
		                  from 
		                       member m
		                where manager_check = 'N'
		                  and leave_check = 'N'
		                  and b_list_check = 'Y'
		            ) a
		     )
		where rnum between ? and ?
	</entry>
</properties>