<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectListCount">
		select 
               count(*) listCount
          from member
         where leave_check = 'N'
           and manager_check = 'N'
	</entry>
</properties>